*{
    margin: 0;
    padding: 0;
    outline: none;
}
li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #999;
}
html{
    font-size: 625%;
}
body, button, input, select, textarea {
    font-size: 14px;
    font-weight: normal;
    font-family: 微软雅黑;
    color: #222;
}

.clear:after{
    content: '';
    height: 0;
    display: block;
    clear: both;
}
[type='button']{
    cursor: pointer;
}
@font-face {
    font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot');
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../iconfont/iconfont.woff') format('woff'),
    url('../iconfont/iconfont.ttf') format('truetype'),
    url('../iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #8c8c8c;
}